* {
    font-family: 'Segoe UI', Verdana, sans-serif;
    
}

body { 
    background-color: #fbeee6;
}

h1, h3 {
    background-color: #ffffff;
}

h1 {
    color: #6E2c00;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    padding: 30px;
}

h3 {
    font-size: 20px;
    text-align: left;
}

h4 {
    font-size: 16px;
}

img {
    height: 200px;
    width: auto;
}

ul, ol, li, p {
    font-family: 'Times New Roman', Times, serif;
}